In [23]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , LabelEncoder , OneHotEncoder
import pickle
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard
import tensorflow.keras.optimizers as Adam
import tensorflow.keras.losses as BinaryCrossentropy
import tensorflow.keras.metrics as BinaryAccuracy
import datetime

In [2]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#Preproccing the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
#Encode catgeorical variable
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [8]:
onehot_encoder_geo = OneHotEncoder()
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [9]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [10]:
geo_encoded_df = pd.DataFrame(geo_encoded.toarray() , columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [11]:
#Combine the columns 
data = pd.concat([data, geo_encoded_df], axis=1)
data = data.drop(['Geography'], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [12]:
#Save the encoding file 
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
   pickle.dump(onehot_encoder_geo, file)

In [13]:
#Divide the data 
X = data.drop(['Exited'], axis=1)
y = data['Exited']

#Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

#Scale the data 
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [14]:
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

ANN IMPLEMENTATION

In [16]:
#Build the neural network model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train_scaled.shape[1],)),#First hidden layer
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid') #Activation layer
])

WARNING:tensorflow:From d:\DeepLearningProject\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [17]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
opt = Adam.Adam(learning_rate=0.001)

In [21]:
#Compile the model
model.compile(optimizer=opt, loss='binary_crossentropy', metrics=['accuracy'])

In [22]:
#Setup the tensorboard and early stopping callbacks
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [24]:
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [27]:
#Set up early stopping (After running for a certain epochs if we see that loss is not decreasing then we use it)
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [28]:
history = model.fit(
    X_train_scaled , y_train, validation_data=(X_test_scaled, y_test),
    epochs=100, 
    callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3158 - accuracy: 0.8687 - val_loss: 0.3381 - val_accuracy: 0.8515
Epoch 2/100
250/250 [==============================] - 4s 16ms/step - loss: 0.3150 - accuracy: 0.8705 - val_loss: 0.3319 - val_accuracy: 0.8615
Epoch 3/100
250/250 [==============================] - 2s 7ms/step - loss: 0.3141 - accuracy: 0.8711 - val_loss: 0.3331 - val_accuracy: 0.8565
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3136 - accuracy: 0.8720 - val_loss: 0.3341 - val_accuracy: 0.8550
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3120 - accuracy: 0.8695 - val_loss: 0.3308 - val_accuracy: 0.8600
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3097 - accuracy: 0.8708 - val_loss: 0.3356 - val_accuracy: 0.8530
Epoch 7/100
250/250 [==============================] - 6s 24ms/step - loss: 0.3081 - accuracy: 0.8721 - val_loss: 0.3343 - val_accuracy: 0.8555
Epoch 8/100
250/250 [==============================] - 5s 20ms/step - loss: 0.3088 - accuracy: 0.8727 - val_loss: 0.3359 - val_accuracy: 0.8570
Epoch 9/100
250/250 [==============================] - 3s 13ms/step - loss: 0.3061 - accuracy: 0.8729 - val_loss: 0.3344 - val_accuracy: 0.8615
Epoch 10/100
250/250 [==============================] - 2s 9ms/step - loss: 0.3055 - accuracy: 0.8755 - val_loss: 0.3377 - val_accuracy: 0.8600
Epoch 11/100
250/250 [==============================] - 2s 8ms/step - loss: 0.3040 - accuracy: 0.8745 - val_loss: 0.3402 - val_accuracy: 0.8525
Epoch 12/100
250/250 [==============================] - 2s 8ms/step - loss: 0.3027 - accuracy: 0.8744 - val_loss: 0.3380 - val_accuracy: 0.8660
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3024 - accuracy: 0.8741 - val_loss: 0.3447 - val_accuracy: 0.8465
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3008 - accuracy: 0.8750 - val_loss: 0.3421 - val_accuracy: 0.8525
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3009 - accuracy: 0.8764 - val_loss: 0.3375 - val_accuracy: 0.8540

In [29]:
model.save('churn_model.h5')

d:\DeepLearningProject\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [32]:
#Load TensorBoard extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [33]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 25992), started 0:02:52 ago. (Use '!kill 25992' to kill it.)

In [ ]:
#load the pickle file